/* You can add global styles to this file, and also import other style files */
.scroll-to-top{
    background: #417bfecc;
}
.scroll-to-top:hover {
    background: #ffc107bf;
}
.dtpicker-button a{
    color: #FFFFFF!important;
}
footer.sticky-footer {
    width: 100%;
}