<nav class="navbar navbar-inverse navbar-static-top example-8">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-hide" routerLink="/home"></a>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
<div style="top:auto;background-image: url('assets/img/landing.jpg')" class="main">
  <!-- video background-->
  <!-- replace URLs with your video content URL-->
  <!--<video id="video-background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
    <source src="http://ondrejsvestka.cz/video/silver-lining-video.webm" type="video/webm">
    <source src="http://ondrejsvestka.cz/video/silver-lining-video.mp4" type="video/mp4">
  </video> -->
  
  <div class="overlay"></div>
  <div class="container">
    <h1 class="cursive">Cruise welcomes you!</h1>
    <div class="logo"></div>
    <h2 class="sub">You can expect this beautiful website running soon. </h2>
    <div class="col-centered text-center">
      <div class="btn-group" role="group">
        <a routerLink="/login"><button type="button" class="btn btn-lg btn-primary">Login</button></a>
        <a routerLink="/register"><button type="button" class="btn btn-lg btn-primary">Register</button></a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright 2021, ICF International Inc. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>