/* Add a right margin to each icon */
.fa {
    margin-left: -12px;
    margin-right: 8px;
}
.mtx-10{
    margin-top: 10px
}
.scanning:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background:linear-gradient(90deg, #f8f9fa21 30%, #21212194 13%, rgba(0, 255, 0, 0.5) 49%, lime 40%, #f8f9fa21 30%);
    background-size: 300% 100%;
    background-repeat: no-repeat;
    background-position: 84% center;
    animation:   scanning 1s infinite ease;
    -webkit-animation:   scan 1s infinite ease;
  }
  @keyframes scanning {
    /* finish with the scan bar just off the right side */
    100% { background-position: 25% center; }
    }
  
  @-webkit-keyframes scan {
    /* finish with the scan bar just off the right side */
    100% { background-position: 25% center; }
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .img-container .thumbex {
    width: 100%;
    min-width: 135px;
    max-width: 350px;
    height: 250px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 2px solid white;
    outline-offset: -15px;
    background-color:white;
    box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
  }
  .img-container .thumbex .thumbnail {
    overflow: hidden;
    min-width: 135px;
    height: 250px;
    position: relative;
    opacity: 0.88;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;
  }

  .img-container .thumbex .thumbnail img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
  .img-container .thumbex .thumbnail:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
  }
  .video-fluid {
    width: 100%;
    height: auto;
}