<app-dashboard-head></app-dashboard-head>
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/welcome">
        <i class="fas fa-fw fa-home"></i>
        <span>&nbsp;Home</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/scanner">
        <i class="fas fa-fw fa-camera"></i>
        <span>&nbsp;Scanner</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/ticket">
        <i class="fas fa-fw fa-trophy"></i>
        <span>&nbsp;Ticket</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>&nbsp;Pages</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Login Screens:</h6>
        <a class="dropdown-item" routerLink="/login">Login</a>
        <a class="dropdown-item" routerLink="/register">Register</a>
        <a class="dropdown-item" routerLink="/reset-password">Forgot Password</a>
      </div>
    </li>

  </ul>
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Ticket</li>
      </ol>
      <div id='planData'>
        <div style="max-width:500px">
          <div class="card mtx-10">
            <div class="card-header">Booking Done!!</div>
            <div class="card-body">
              <form>
                <div class="form-group mtx-10">
                  <div id="ticketQR">
                    <div class="img-container">
                      <div class="thumbex">
                        <div class="thumbnail">
                          <div>
                            <img id="uploaderPreview" src="assets/img/bookingQR.PNG" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h4 class="text-primary">Take a look of your Cruise</h4>
                </div>
                <div class="form-group">
                  <video class="video-fluid z-depth-1" autoplay loop controls muted>
                    <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
                  </video>
                </div>
              </form>
            </div>
          </div>
          <div class="card mtx-10">
            <div class="card-header">Booking Details</div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyId" [(ngModel)]="journeyId" type="text" class="form-control" placeholder="" readonly>
                    <label for="journeyId">Booking ID</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyFromDate" [(ngModel)]="journeyFromDate" type="text" class="form-control" placeholder="" readonly>
                    <label for="journeyFromDate">Journey Start</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyUpTo" [(ngModel)]="journeyUpTo" type="text" class="form-control" placeholder="" readonly>
                    <label for="journeyUpTo">Journey Upto</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyCruise" [(ngModel)]="journeyCruise" type="text" class="form-control" placeholder="" readonly>
                    <label for="journeyCruise">Cruise name</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyPrice" [(ngModel)]="journeyPrice" type="text" class="form-control" placeholder="" readonly>
                    <label for="journeyPrice">Package cost</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyTraveller" [(ngModel)]="journeyTraveller" type="text" class="form-control" placeholder="" readonly>
                    <label for="journeyTraveller">Traveller Name</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input name="journeyTravellerPassport" [(ngModel)]="journeyTravellerPassport" type="text" class="form-control" placeholder=""
                      readonly>
                    <label for="journeyTravellerPassport">Traveller Passport</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card mtx-10 mb-5" *ngIf="expiryAlert">
            <div class="card-header">Alert</div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <div class="form-label-group">
                    Please renew your passport, before journey
                  </div>
                </div>
              </form>
            </div>
          </div>

          <br><br>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <app-dashboard-foot></app-dashboard-foot>